/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #db2121, #035e9b);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #ffffff;
    line-height: 1.6;
}
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



/* Navigation en haut */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

/* Espacement des sections */
.section {
    max-width: 1000px;
    margin: 150px auto;
    padding: 50px;
    background: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.container {
    text-align: center;
}

/* Section Projets */
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background: #ff00000e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
    max-width: 300px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* Boutons */
.btn {
    display: inline-block;
    background: #222;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background: #555;
}

/* Icônes des compétences */
.skills-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills-icons img {
    width: 50px;
    height: 50px;
}

/* Section Contact */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #222;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Réseaux sociaux */
.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    color: #222;
    font-size: 24px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #555;
}
